    {% extends "base.html" %}

    {% block title %} About {% endblock title %}

    {% block body %}
    
    <div class="container my-5 p-5 z-depth-1">

        <style>
          .w-200 {
            width: 200px;
          }
        </style>
        
        <!--Section: Content-->
        <section class="team-section text-center dark-grey-text">
          
          <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Team</h6>
          <!-- Section heading -->
          <h2 class="font-weight-bold text-center dark-grey-text pb-2">Our Amazing Team</h2>
          <hr class="w-header my-4">
          <!-- Section description -->
          <p class="lead text-center text-muted pt-2 mb-5">Enim ad minim exercitation ullamco laboris nisi ut ex aliquip.</p>
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
      
              <div class="w-200 mx-auto mb-4">
                <img src="https://avatars.githubusercontent.com/u/113392666?s=400&u=6309e521155471674eaeb134ef335dc116c4955e&v=4" class="z-depth-1 rounded-circle img-fluid" alt="smaple image">
              </div>
              <h6 class="font-weight-bold">Pawan Bhandare</h6>
              <small class="text-muted">Backend Developer</small>
              <p class="mt-3 mb-4 text-muted">Sed ut perspiciatis unde omnis natus accusantium.</p>
              <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 red-text">
                <li><i class="fab fa-twitter mx-2"></i> <a href="https://github.com/pawan-bhandare"target="_blank"> <img src="https://github.com/" alt="github">  </a>  </li>
                <li><i class="fab fa-linkedin-in mx-2"></i> <a href="https://www.linkedin.com/in/pawan-bhandare-a8709b260/"target="_blank"> <img src="" alt="linkedin"></a> </li>
              </ul>
      
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
      
              <div class="w-200 mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="z-depth-1 rounded-circle img-fluid mx-auto" alt="smaple image">
              </div>
              <h6 class="font-weight-bold">Akanksha Jevare</h6>
              <small class="text-muted">Frontend Developer</small>
              <p class="mt-3 mb-4 text-muted">Sed ut perspiciatis unde omnis natus accusantium.</p>
              <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 red-text">
                <li><i class="fab fa-twitter mx-2"></i> <a href="https://github.com/pawan-bhandare"target="_blank"> <img src="" alt="github">  </a>  </li>
                <li><i class="fab fa-linkedin-in mx-2"></i> <a href="" target="_blank"> <img src="" alt=""></a> </li>
              </ul>
      
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
      
              <div class="w-200 mx-auto mb-4">
                <img src="https://avatars.githubusercontent.com/u/127736730?v=4" class="z-depth-1 rounded-circle img-fluid mx-auto" alt="smaple image">
              </div>
              <h6 class="font-weight-bol">Mahesh Shendage</h6>
              <small class="text-muted">Designer</small>
              <p class="mt-3 mb-4 text-muted">Sed ut perspiciatis unde omnis natus accusantium.</p>
              <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 red-text">
                <li><i class="fab fa-twitter mx-2"></i> <a href="https://github.com/mahesh-shendage" target="_blank"> <img src="" alt="github">  </a>  </li>
                <li><i class="fab fa-linkedin-in mx-2"></i> <a href="" target="_blank"> <img src="" alt="linkedin"></a> </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
          
        </section>
        <!--Section: Content-->
      
      

    {% endblock body %}