{% extends "base.html" %}

{% block title %} CPP{% endblock title %}

{% block body %}
<div class="py-5 text-center text-white bg-primary">
    <div class="container py-5">
        <div class="row py-5">
            <div class="mx-auto col-lg-10">
                <h1 class="display-5 mb-4 ">Learn Advanced C Programming</h1>
                <p class="mb-5 font-weight-bold">C++ is a powerful general-purpose programming language. It can be used to
                    develop operating
                    systems,
                    browsers, games, and so on. C++ supports different ways of programming like procedural,
                    object-oriented, functional, and so on. This makes C++ powerful as well as flexible.
                    e</p> <a href="#" class="btn btn-lg btn-light mx-1">Take me
                    there</a>
            </div>
        </div>
    </div>
</div>


<div class="col-md-10  mx-auto my-5 rounded  p-4 ">

    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Websites to Learn C++ Programming</h2>
    <hr>
    <div class='btn-holder'>
        <a class="btn btn-outline-info" href="https://devdocs.io/cpp/" target="_blank">
            <span>devdocs</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.javatpoint.com/cpp-tutorial" target="_blank">
            <span>javapoint</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.w3schools.com/CPP/default.asp" target="_blank">
            <span>w3schools</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.geeksforgeeks.org/c-plus-plus/" target="_blank">
            <span>Geeksforgeeks</span>
        </a>
        <a class="btn btn-outline-info"
            href="https://www.freecodecamp.org/news/the-c-plus-plus-programming-language/" target="_blank">
            <span>FreeCodeCamp</span>
        </a>
    </div>



    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Books to Learn C++ Programming</h2>
    <hr>
    <h3 class="bg-primary text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">C++:
        The Complete Reference
    </h3>
    <p>Master programmer and best-selling author Herb Schildt has updated and expanded his classic
        reference
        to C++. Using expertly crafted explanations, insider tips, and hundreds of examples, Schildt
        explains and demonstrates every aspect of C++.</p>
    <p>Author: Herbert Schildt</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1nlHMax0LSZNVRZfBW6e7hZws0Qr9AMn7/view?usp=sharing"
        target="_blank">Download Now.</a>
    <h3 class="bg-warning text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">
        Fundamentals Of c++ programming</h3>
    <p>his book teaches the basics of C++ programming in an easy-to-follow style, without assuming previous
        experience in any other language. A variety of examples such as game programming, club membership
        organization, grade tracking and grade point average calculation, make learning C++ both fun and
        practical.
    </p>
    <p>Author: Richard L. Halterman</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1F_FMZXHWETGSGxksBGLg_xih5QI5uBRJ/view?usp=sharing"
        target="_blank">Download Now.</a>
    <hr>
    <h3 class="bg-danger text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">
        A tour of C++</h3>
    <p>
        Bjarne Stroustrup’s book A tour of C++. It offers complete references for C++ core concepts and
        practical coding to give an experienced programmer to get what constitutes modern C++. This
        concise
        book contains a self-contained guide. <br> The author covers many C++ language features and
        major
        standard-library components.

    </p>
    <p>Author : Bjarne Stroustrup’s</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1wPFzHG18n8f0F6aIou97SE46jk7RpCLR/view?usp=sharing"
        target="_blank">Download Now.</a>
    <hr>
    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Youtube Channels to Learn C++ Programming</h2>
    <p class="text-primary"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        Caleb Hurry</p>
    <p>Caleb Curry is a YouTube channel that teaches its viewers advanced programming skills and computer
        science.</p>
    <p>It also has a playlist of C++ video tutorials with over 100 videos that teach the basics of C++,
        operations, functions, conditional statements, and more.</p>
    <p>And all the courses here is provided is absolutely free of cost.</p> <a type="button"
        class="btn btn-outline-info" href="https://www.youtube.com/c/CalebTheVideoMaker2/featured" target="_blank">visit
        link</a>
    <p class="text-danger"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        Edureka</p>
    <p> It has many C++ tutorials, such as C++ for Beginners, C++ Object Oriented Programming, and a half-hour
        video about the differences between C++ and other programming languages.</p>
    <p>You can learn c programming from here with free of costs.</p>
    <a type="button" class="btn btn-outline-info" href="https://youtu.be/BClS40yzssA" target="_blank">visit link</a>
    <p class="text-success"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        FreeCodeCamp</p>
    <p> This channel provides c programming tutorials at the beginner’s level. And more then 1400 videos are
        available on this channel.</p>
    <p>And this channel is really helpful for beginners to learn c++ programming.</p>
    <a type="button" class="btn btn-outline-primary" href="https://youtu.be/vLnPwxZdW4Y" target="_blank">visit link</a>
</div>
{% endblock body %}