{% extends "base.html" %}

{% block title %} Java {% endblock title %}

{% block body %}

<div class="py-5 text-center bg-info text-light">
    <div class="container py-5">
        <div class="row py-5">
            <div class="mx-auto col-lg-10">
                <h1 class="display-5 mb-4 ">Learn java Programming </h1>
                <p class="mb-5">Java is a powerful general-purpose programming language. It is used to develop
                    desktop and mobile
                    applications, big data processing,, and so on. According to Oracle, the
                    company
                    that owns Java, Java runs on 3 billion devices worldwide, which makes Java one of the most
                    popular
                    programming languages.
                </p> <a href="#" class="btn btn-lg btn-light mx-1">Take me
                    there</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10  mx-auto my-5 rounded  p-4 ">

    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Websites to Learn java Language</h2>
    <hr>
    <div class='btn-holder'>
        <a class="btn btn-outline-info" href="https://devdocs.io/openjdk~17/"
            target="_blank"><span>devdocs</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.javatpoint.com/java-tutorial" target="_blank">
            <span>javapoint</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.w3schools.com/java/" target="_blank">
            <span>w3schools</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.geeksforgeeks.org/java/" target="_blank">
            <span>Geeksforgeeks</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.freecodecamp.org/news/tag/java/" target="_blank">
            <span>FreeCodeCamp</span>
        </a>
    </div>

    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Books to Learn java Programming</h2>
    <hr>
    <h3 class="bg-primary text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">Head First Java</h3>
    <p>Head First Java is referred to as the Java programming bible by most readers and is probably the best
        Java book for beginners. It contains all the essential Java programming subjects - classes, threads,
        objects, collection, and language features. The information is presented in visually rich formats
        which makes Java very easy to understand. </p>
    <p>Author: Kathy Sierra & Bert Bates</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1TdMo43XY6VYKNx8vYdwbP2W0_Itgk13g/view?usp=sharing"
        target="_blank">Download Now.</a>
    <h3 class="bg-warning text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">
        java:A Beginners Guide</h3>
    <p>
        Another perfect book for beginners is Java: A Beginner’s Guide by Herbert Schildt. It covers all the
        fundamentals of Java, followed by tests and puzzles to test your knowledge. You will also find lots
        of Q&As from professional Java programmers who give insights related to issues most beginners face.
    </p>
    <p>Author: Herbert Schildt</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1dpLXe0fIBtQdzkoTyHdAsZYXpCCLQdo1/view?usp=sharing"
        target="_blank">Download Now.</a>

    <h3 class="bg-danger text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;"> java For Dummies </h3>
    <p>
        Java for Dummies is a great beginner’s guide to Java programming that teaches you how to create
        basic Java objects and when you should simply reuse existing code. The biggest advantage of this
        book is its abundance of images and screenshots that visually explains how Java code is executed on
        the CPU.

    </p>
    <p>Author : Barry A. Burd</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1FZvs2ofHPmlDMmffZXdsy8LWNbAkI4Qi/view?usp=sharing"
        target="_blank">Download Now.</a>
    <hr>
    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Youtube Channels to Learn C Programming</h2>
    <p class="text-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        FreeCodeCamp</p>
    <p>This is one of the most top channels for the learning of java programming and this channel is very
        helpful for
        beginners.</p>
    <p>This channel has almost 3.19 subscribers and which including 1239 videos, besides that from here you can
        also
        learn other programming languages.</p>
    <p>And all the courses here is provided is absolutely free of cost.</p> <a type="button" class="btn btn-outline-info"
        href="https://youtu.be/grEKMHGYyns" target="_blank"" target=" _blank">visit
        link</a>
    <p class="text-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        Edureka</p>
    <p> This is a very popular channel that provides all types of programming language
        tutorials.</p>
    <p>You can learn java programming from here with free of costs.</p>
    <a type="button" class="btn btn-outline-info" href="https://youtu.be/hBh_CC5y8-s" target="_blank">visit link</a>
    <p class="text-success" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        Coding With Mosh</p>
    <p> This channel provides java programming tutorials at the beginner’s level.</p>
    <p>This is a course from coding with mosh you can basics of java
        programming
        from this course</p>
    <p>And this channel is really helpful for beginners to learn java programming.</p>
    <a type="button" class="btn btn-outline-info" href="https://youtu.be/eIrMbAQSU34" target="_blank">visit link</a>
</div>
{% endblock body %}