{% extends "base.html" %}

{% block title %} Python{% endblock title %}

{% block body %}
<div class="py-5 text-center bg-danger text-light">
    <div class="container py-5">
        <div class="row py-5">
            <div class="mx-auto col-lg-10">
                <h1 class="display-5 mb-4 ">Learn Python Programming </h1>
                <p class="mb-5">Python Is A Powerful General-Purpose Programming Language. It Is Used In Web
                    Development, Data Science, Creating Software Prototypes, And So On. Fortunately For
                    Beginners, Python Has Simple Easy-To-Use Syntax. This Makes Python An Excellent Language To
                    Learn To Program For Beginners.
                </p> <a href="#" class="btn btn-lg btn-light mx-1">Take me
                    there</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10  mx-auto my-5   p-4 ">
    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Websites to Learn Python Language</h2>
    <hr>
    <div class='btn-holder'>
        <a class="btn btn-outline-info" href="https://devdocs.io/python~3.10/"
            target="_blank"><span>devdocs</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.javatpoint.com/python-tutorial" target="_blank">
            <span>javapoint</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.w3schools.com/python/" target="_blank">
            <span>w3schools</span>
        </a>
        <a class="btn btn-outline-info" href="https://www.geeksforgeeks.org/python-programming-language/"
            target="_blank">
            <span>Geeksforgeeks</span>
        </a>
        <a class="btn btn-outline-info" href="https://docs.python.org/3/" target="_blank">
            <span>Python Docs</span>
        </a>
    </div>

    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Books to Learn Python Programming</h2>
    <hr>
    <h3 class="bg-primary text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">Python Crash Course –
        2nd Edition</h3>
    <p>This Is A Project-Based, Complete Introduction To Python For Beginners.
        The Book Is Organized Into Two Parts: The First Will Teach You The Fundamentals Of Python Programming,
        Such As Lists, Dictionaries, Classes, And Loops, And The Second Will Help You Practice Producing Clean
        Code. </p>
    <p>Author: eric matthes</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1BZ610V7r3O03PGhpcCrAqPKNdGG6nr5q/view?usp=sharing"
        target="_blank">Download Now.</a>
    <h3 class="bg-warning text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">Automate The Boring
        Stuff With Python
    </h3>
    <p>
        AI Sweigart, The Author, Challenges His Readers. It Is One Of The Best-Selling Python Books In The
        World, And It Teaches Python 3 To Everyone From Technically Inclined Beginners To Geeks. The Books Lead
        You Through Each Program And Provide Step-By-Step Instructions, Allowing You To Develop Python Programs
        Quickly And Efficiently.
    </p>
    <p>Author:AI Sweigart</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1YP51ycY2ulPci9-AIbPYf5b0L_ovtYdj/view?usp=sharing"
        target="_blank">Download Now.</a>

    <h3 class="bg-danger text-light px-3"
        style=" padding: 10px 0;text-align: left; font-family: 'Segoe UI', sans-serif;">Learn Python 3 The Hard
        Way</h3>
    <p>
        Learn Python 3 The Hard Way Will Walk You Through 52 Brilliantly Crafted Exercises. In This Book, The
        Author Encourages You To Type The Code By Hand (No Copy-Paste) So That You Learn How To Read And Write
        Code, Correct Your Mistakes, And What Good Programs Look Like. It Is Included With The Book Several
        Hours Of Videos To Show You How To Break, Fix And Debug Your Code. The Book Is Good For Total Beginners,
        Junior Developers, And Other Returning Professionals.

    </p>
    <p>Author :Zen A. Shaw</p>
    <h5 style="text-align: left; font-family: 'Segoe UI', sans-serif;">
        You Can Download This Book for FREE</h5>
    <a type="button" class="btn btn-primary" style="text-align: left"
        href="https://drive.google.com/file/d/1277GMhI-PdnfMS8R4YVuxZpTpih2s4hd/view?usp=sharing"
        target="_blank">Download Now.</a>
    <hr>


    <h2 class="display-6" style=" padding: 30px 0;text-align: center; font-family: 'Segoe UI', sans-serif;">
        Best Youtube Channels to Learn C Programming</h2>
    <p class="text-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        FreeCodeCamp</p>
    <p>This is one of the most top channels for the learning of java programming and this channel is very
        helpful for
        beginners.</p>
    <p>This channel has almost 3.19 subscribers and which including 1239 videos, besides that from here you can
        also
        learn other programming languages.</p>
    <p>And all the courses here is provided is absolutely free of cost.</p> <a type="button" class="btn btn-outline-info"
        href="https://youtu.be/rfscVS0vtbw" target="_blank" target="_blank"" target=" _blank">visit
        link</a>
    <p class="text-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        code with harry</p>
    <p> This Is One Of The Most-Watched Courses On This Channel.</p>
    <p>If You Want To Create Projects As Early As Possible, Then This Course wiil help you</p>
    <p>You can learn pyhton programming from here with free of costs.</p>
    <a type="button" class="btn btn-outline-info" href="https://youtu.be/vrQlEhmVFDA" target="_blank">visit link</a>
    <p class="text-success" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;">
        Coding With Mosh</p>
    <p> This channel provides programming tutorials at the beginner’s level.</p>
    <p>This is a course from coding with mosh you can basics of python
        programming
        from this course</p>
    <p>And this channel is really helpful for beginners to learn python programming.</p>
    <a type="button" class="btn btn-outline-info" href="https://youtu.be/_uQrJ0TkZlc" target="_blank">visit link</a>
</div>
{% endblock body %}